/*HOME*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#fundo {
    display: flex;
    margin: 0;
    font-family: "Inter", sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-image: url(fundoDoSenai.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#barraLateral {
    position: absolute;
    right: 0px;
    height: 100vh;
    background-color: #D9D9D9;
    padding: 50px;
    width: 400px;
}

.caixaDeTexto {
    border-radius: 25px;
    border-color: rgba(255, 255, 255, 0);
    width: 350px;
    padding: 8px;
    display: flex;
}

button {
    background-color: #2170E7;
    border-color: rgba(255, 255, 255, 0);
    color: aliceblue;
    border-radius: 4px;
    padding: 7px;
    width: 85px;
    transition: all .3s ease;
}

button:active {
    transform: scale(0.9);
}

button:hover {
    scale: 1.05;
}

#senha {
    color: #2170E7;
    margin-top: 75px;
}

/*PÁGINA INICIAL*/
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.barraDeCima {
    background-color: darkgray;
    height: 75px; /* Altura da barra */
    width: 100%; /* Largura total */
}

img {
    margin: 13px;
}

#perfil {
    position: absolute;
    right: 0px;
    margin: 10px;
    margin-right: 35px;
}

.barraDeCima2 {
    border: 2px solid black;
    padding: 5px;
}

a {
    color: black;
    text-decoration: none;
}

span {
    font-size: 17px;
    font-weight: bold;
}

h1 {
    font-size: 40px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
}

hr {
    width: 95%;
    height: 2px;
    background-color: black;
    border: none;
    border-radius: 2px;
}

#banner {
    background-color: darkgray;
    width: 1290px;
    height: 300px;
    border-radius: 25px;
    margin: 25px;
    position: absolute;
    right: 0px;
}

#eventos {
    font-size: 20px;
    margin-left: 248px;
}

#hr2 {
    width: 350px;
    height: 2px;
    background-color: black;
    border: none;
    border-radius: 2px;
    position: absolute;
    left: 110px;
}

#calendario {

}